<div class="col-sm-12" *ngIf="post">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{post.name}}</h5>
      <hr />
      <p class="card-text"><b>Description</b> : {{post.description}}</p>
      <p class="card-text"><b>Responsibilities</b> : {{post.responsibilities}}</p>
      <p class="card-text"><b>Skills</b> : {{post.skills}}</p>
      <p class="card-text"><b>Category</b> : {{post.category}}</p>
      <p class="card-text"><b>Max Applicants</b> : {{post.maxApplicants}} applicants</p>
      <p class="card-text"><b>Validation Time</b> : From {{post.validFrom | date : 'mediumDate'}} To {{post.validTo|
        date : 'mediumDate'}}</p>
      <ng-container *ngIf="!isExpiredVacancy(post.validTo); else elseTemplate">
        <a class="btn btn-primary" style="margin-right: 7px;" [routerLink]="['/apply-vacancy',post.id]">Apply</a>
      </ng-container>
      <ng-template #elseTemplate>
        <b class="text-danger">Expired</b>
      </ng-template>
    </div>
  </div>
</div>
